//Contact-form/
.contact-form {
    padding: 60px 0;
    background-color: #EDF2F5;
}

.contact-form__title {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    color: #585B60;
    line-height: 1.2;
    text-align: center;
}

.contact-form__sentence {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #9DA6AC;
    line-height: 1.33;
    text-align: center;
    padding-bottom: 20px;
}


@media (max-width: 992px) {
    .contact-form__sentence {
        font-size: 14px;
    }
}

.contact-form__number-phone {

    line-height: 1.2;
    text-align: left;
    margin-top: 65px;
    margin-bottom: 80px;
}


.contact-form input,
.contact-form textarea {
    padding: 11px 35px;
    width: 50%;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.2;
    color: #9DA6AC;
    margin-bottom: 18px;
    border: 0;
    text-align: left;
}

@media (max-width: 992px) {
    .contact-form input,
    .contact-form textarea {
        font-size: 12px;
    }
}