<section class="download-section">
    <div class="container">
        <h1 class="section__title section__title--white">Who will benefit?</h1>
        <h2 class="section__subtitle section__subtitle--white">Everyone! It's as simple as that! <br>Download our app now and see for yourself!</h2>
        <ul class="download-list">
            <li class="download-list__item">
                <a href="/" target="_blank" class="">            
        <img src="img/Appstore.jpg" class="aplication">
        </a>
            </li>
            <li class="download-list__item">
                <a href="/" target="_blank" class="">      
        <img src="img/Google-Play.jpg" class="aplication">
        </a>
            </li>
        </ul>
    </div>
</section>