<section class="features-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="section__title section__title--features">Features</h1>
                <h2 class="section__subtitle section__subtitle--grey">We created for you the most ingenious and impeccable features:</h2>
                <ul class="features-list">
                    <li class="single-feature__list single-feature__list--active">
                        <span class="single-feature__square"></span>
                        <h3 class="single-feature__title">Payment system intergration</h3>
                        <p class="single-feature__description"> In eu nibh risus. Suspendisse ac diam. Donec dolor nibh, blandit nec nunc a, pulvinar tristique mi. Sed sapien massa, luctus ut dictum vel, sagittis eget ipsum.
                        </p>
                    </li>
                    <li class="single-feature__list">
                        <span class="single-feature__square"></span>
                        <h3 class="single-feature__title">Payment system intergration</h3>
                        <p class="single-feature__description"> In eu nibh risus. Suspendisse ac diam. Donec dolor nibh, blandit nec nunc a, pulvinar tristique mi. Sed sapien massa, luctus ut dictum vel, sagittis eget ipsum.
                        </p>
                    </li>
                    <li class="single-feature__list">
                        <span class="single-feature__square"></span>
                        <h3 class="single-feature__title">Payment system intergration</h3>
                        <p class="single-feature__description"> In eu nibh risus. Suspendisse ac diam. Donec dolor nibh, blandit nec nunc a, pulvinar tristique mi. Sed sapien massa, luctus ut dictum vel, sagittis eget ipsum.
                        </p>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="features__background">
                    <img src="/img/background__features.jpg">
                </div>
            </div>
        </div>
    </div>
</section>