<section class="slider-intro">
    <h1>Free website for your app</h1>
    <h2 class="slider-intro__slogan">Download two PSD mockups both for desktop and mobile layouts </h2>
    <p class="slider-intro__description">
        This Modern and clean PSD Template is made to help you showcase your app. PSD files are well organized and bases on Bootstrap 1170px grid so its very easy to customize and update.
    </p>
</section>