<section class="rates-section">
    <div class="container">
        <h1 class="section__title">Rates</h1>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="single-country">
                    <figure class="single-country__icon">
                        <img src="img/icon-1.jpg">
                    </figure>
                    <h1 class="single-country__name">United States</h1>
                    <p class="single-country__rate">0.009/min</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-country">
                    <figure class="single-country__icon">
                        <img src="img/icon-2.jpg">
                    </figure>
                    <h1 class="single-country__name">India</h1>
                    <p class="single-country__rate">0.012/min</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-country">
                    <figure class="single-country__icon">
                        <img src="img/icon-3.jpg">
                    </figure>
                    <h1 class="single-country__name ">China</h1>
                    <p class="single-country__rate">0.008/min
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-country hidden-d hidden-lg">
                    <figure class="single-country__icon">
                        <img src="img/icon-3.jpg">
                    </figure>
                    <h1 class="single-country__name ">China</h1>
                    <p class="single-country__rate">0.008/min
                    </p>
                </div>
            </div>
        </div>
        <div class="row js-hidden-rates">
            <div class="col-md-4 col-sm-6">
                <div class="single-country">
                    <figure class="single-country__icon">
                        <img src="img/icon-3.jpg">
                    </figure>
                    <h1 class="single-country__name ">China</h1>
                    <p class="single-country__rate">0.008/min
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-country">
                    <figure class="single-country__icon">
                        <img src="img/icon-3.jpg">
                    </figure>
                    <h1 class="single-country__name ">China</h1>
                    <p class="single-country__rate">0.008/min
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-country">
                    <figure class="single-country__icon">
                        <img src="img/icon-2.jpg">
                    </figure>
                    <h1 class="single-country__name">India</h1>
                    <p class="single-country__rate">0.012/min</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="single-country hidden-d hidden-lg">
                    <figure class="single-country__icon">
                        <img src="img/icon-1.jpg">
                    </figure>
                    <h1 class="single-country__name">United States</h1>
                    <p class="single-country__rate">0.009/min</p>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn--rounded js-show-all-rates">View all</button>
        </div>
    </div>
</section>