<section class="reviews-section">
    <div class="container">
        <h1 class="section__title">Customer Reviews</h1>
        <div class="row">
            <div class="col-md-4">
                <div class="single-review">
                    <h1 class="single-review__title">Excellent communication app.</h1>
                    <h2 class="single-review__author ">John Doe</h2>
                    <div class="single-review__rating">
                        <span class="glyphicon glyphicon-star single-review__star--active"></span>
                        <span class="glyphicon glyphicon-star single-review__star--active"></span>
                        <span class="glyphicon glyphicon-star  single-review__star--active"></span>
                        <span class="glyphicon glyphicon-star single-review__star--active"></span>
                        <span class="glyphicon glyphicon-star single-review__star"></span>
                    </div>
                    <p class="single-review__explanation">Donec nunc enim, condimentum vel dolor sed, malesuada porttitor purus. Nam egestas, urna vitae tincidunt dignissim, est eros gravida tortor, varius consectetur orci eros nec neque. Donec vel nibh lobortis, pretium justo non, venenatis orci. Ut congue auctor arcu quis ultrices. </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-review">
                    <h1 class="single-review__title">The BEST Calling App</h1>
                    <h2 class="single-review__author">John Smith</h2>
                    <div class="single-review__rating">
                        <span class="glyphicon glyphicon-star single-review__star--active"></span>
                        <span class="glyphicon glyphicon-star single-review__star--active"></span>
                        <span class="glyphicon glyphicon-star  single-review__star--active"></span>
                        <span class="glyphicon glyphicon-star single-review__star--active"></span>
                        <span class="glyphicon glyphicon-star single-review__star--active"></span>
                    </div>
                    <figure class="single-review__icon--stars">
                    </figure>
                    <p class="single-review__explanation">Donec nunc enim, condimentum vel dolor sed, malesuada porttitor purus. Nam egestas, urna vitae tincidunt dignissim, est eros gravida tortor, varius consectetur orci eros nec neque. Donec vel nibh lobortis, pretium justo non, venenatis orci. Ut congue auctor arcu quis ultrices. </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-review">
                    <h1 class="single-review__title">So far so good</h1>
                    <h2 class="single-review__author ">Jane Doe</h2>
                    <div class="single-review__rating">
                        <span class="glyphicon glyphicon-star single-review__star--active"></span>
                        <span class="glyphicon glyphicon-star single-review__star--active"></span>
                        <span class="glyphicon glyphicon-star  single-review__star--active"></span>
                        <span class="glyphicon glyphicon-star single-review__star--active"></span>
                        <span class="glyphicon glyphicon-star single-review__star--active"></span>
                    </div>
                    <figure class="single-review__icon--stars">
                    </figure>
                    <p class="single-review__explanation">Donec nunc enim, condimentum vel dolor sed, malesuada porttitor purus. Nam egestas, urna vitae tincidunt dignissim, est eros gravida tortor, varius consectetur orci eros nec neque. Donec vel nibh lobortis, pretium justo non, venenatis orci. Ut congue auctor arcu quis ultrices. </p>
                </div>
            </div>
        </div>
    </div>
</section>