<section class="video-content">
    <div class="container">
        <div class="video-wrapper">
            <iframe class="video-wrapper__iframe" src="https://www.youtube.com/embed/sQL-OLCKHVE" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</section>