<header class="site-header ">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <a href="/" class="site-header__logo">
                    <span>Breeze</span>
                </a>
            </div>
            <div class="col-md-6 col-sm-6 ">
                <nav class="main-menu">
                    <ul class="main-menu-list">
                        <li class="main-menu-list__item">
                            <a href=".slider-intro">Home</a>
                        </li>
                        <li class="main-menu-list__item">
                            <a href=".features-section">Features</a>
                        </li>
                        <li class="main-menu-list__item">
                            <a href=".rates-section">Rates</a>
                        </li>
                        <li class="main-menu-list__item">
                            <a href=".contact-form">Contacts</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
</header>